// Primary colors
$primary-coral: #F88379;
$primary-black: #111111;
$primary-teal: #008080;
$primary-white: #F0FAFA;

// Secondary colors
$red: #8A090E;
$text-gray: #B6C0C3;
$coral-100: #FEADA7;
$coral-300: #B05952;
$teal-100: #00AFB9;
$teal-300: #016C6C;
$green: #50C878;
$charcoal: #36454F;
$grey: #8B8B8B;

// Fonts
$heading-font: 'JetBrains Mono', monospace;
$body-font: 'Inter', sans-serif;
// font sizes
$heading-1: 2rem;
$heading-2: 1.75rem;
$heading-3: 1.5rem;
$text-1: 0.75rem;
$text-2: 1rem;
$text-3: 1.125rem;
$text-4: 1.25rem;

// Spacing
$space-1: 1rem;
$space-2: 1.5rem;
$space-3: 2rem;
$space-4: 2.5rem;
$space-5: 3rem;