@import "./forms";

// Dashboard
.dashboard-container {
  padding: $space-1;
  padding-bottom: 8rem;
  // margin-left: 5rem;
}

// Calendar
.calendar-container {
  width: min(100%, 320px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  #calendar-year {
    text-align: center;
    margin-bottom: $space-1;
    color: $grey;
    font-size: $heading-3;
    font-family: $heading-font;
    font-weight: bold;
    border-bottom: 1px solid;
    width: 100%;
    padding: $space-1 0;
  }

  #calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: calc($space-1 / 2);
    width: 100%;

    .day {
      padding: 10px;
      border: 1px solid $charcoal;
      text-align: center;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.0625rem;
      width: 2.0625rem;
      font-size: $text-1;

      &.completed {
        background-color: $teal-100;
        box-shadow: 0 0 10px $teal-100;
        border: none;
      }
    }

    .current {
      border: solid 2px $primary-coral;
    }
  }
}

// Habits
.habits {
  .habits-list {
    padding-bottom: $space-2;
    display: flex;
    align-items: center;
    gap: $space-2;
    overflow-x: hidden;
    width: 100%;
    scroll-snap-type: x mandatory;
    
    .habit {
      position: relative;
      flex: 1 1 auto;
      min-width: 40%;
      border: solid 2px $charcoal;
      border-radius: 15px;
      height: 75%;
      aspect-ratio: 1/1;
      font-size: $text-1;
      font-weight: bold;
      
      &.active {
        min-width: 50%;
        scroll-snap-align: center;
        font-size: $text-2;
        color: $primary-teal;
      }
    }
    
    .habit-link {
      display: block;
      position: absolute;
      bottom: -1.5625rem;

    }
  }
}